.env
nano.save
archive/
__pycache__/
test.py
network_automation/standards_ops/inventory/hosts.yml
network_automation/standards_ops/aaa/configs/
network_automation/standards_ops/staging/
network_automation/hostname_changer/hostname_changer/host_references/
network_automation/hostname_changer/hostname_changer/inventory/hosts.yml
network_automation/infoblox_ops/dhcp/csv_data/
network_automation/ise_mac_bypass/mac_bypass/csv_data/
network_automation/sdwan_ops/prisma_access/config.yml
network_automation/topology_builder/graphviz/inventory/hosts.yml
network_automation/topology_builder/graphviz/nornir.log
network_automation/topology_builder/graphviz/hosts.yml
nornir.log
scrapli.log
testbed.yml
!file_display/
file_display/*
!file_display/*.json
!file_display/src/
file_display/public/documentation/*
file-display/
logs/
/network_automation/panorama_ops/pa-mgmt-dk-flsmidth-net-chain.pem