<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>CCoE Network Automation</title>
        <script language="javascript" type="text/javascript">

            function addtext() {
                var host_name = document.hostsForm.hostName.value;
                var ip_add = document.hostsForm.ipAddr.value;
                var nos_type = document.hostsForm.nos.value;
                var depth_level = document.hostsForm.depth_val.value;

                if (depth_level == "") {
                    depth_level = "3";
                }
                 
                if (document.hostsForm.nos[1].checked) {
                    document.hostsForm.outputtext.value = "";
                    }
                document.hostsForm.outputtext.value += host_name + "," + ip_add + "," + nos_type + "," + depth_level + "\n";
            }

            function addSlider(value) {
                document.getElementById("depth_val").value = value;
                document.getElementById("d_val").innerText = value;
            }
            
        </script>
    </head>
    <body>
        <div class="alert alert-info" role="alert">
        <h1>Audit Manager<br><br></h1>
        <h4>Enter Required Data or View Sites Audits:<br><br></h4> 
        <form name="hostsForm"  action="{{url_for('standards_ops.do_audit')}}" method = "POST" role="form">
			<div class="row gy-5">
				<div class="col-2">
					<div class="p-3">
						<label for="hostName">Hostname:</label></td>
						<input type="text" onfocus="this.value=''" class="form-control" id="hostName" name="hostName" placeholder="Core Switch Hostname">
                        <label for="ipAddr">IP or DNS Record:</label>
						<input type="text" onfocus="this.value=''" class="form-control" id="ipAddr" name="ipAddr" placeholder="Core Switch IP or DNS Record">
                        <input type="radio" id="ios" name="nos" value="ios" checked>
                        <label for="ios">IOS</label><br>
                        <input type="radio" id="nxos" name="nos" value="nxos">
                        <label for="nxos">NXOS</label><br>
					</div>
                    <div class="col-6 p-3">
                        <div class="slidecontainer">
                            <label for="depthLevel">Select Depth Level (Default is 3)</label><br>
                            <input type="range" min="3" max="8" value="3" class="slider" id="depthLevel" onchange="addSlider(this.value);">
                            <input type="hidden" id="depth_val">
                            <p id="d_val"></p>
    
                        </div>               
                    </div>
				</div>
				<div class="col-3">
					<div class="p-5">
						<textarea name="outputtext" rows="3" cols="60"></textarea>
                        <p><button type="submit" class="btn btn-success">Create Hostfile</button>
                        <a class="btn btn-primary" href="{{url_for('home')}}" role="button" style="margin-left:50px;">Back To Home</a>
                        </p>      
					</div>
                    <div class="p-3">
						<input style="margin-left:40px;" type="button" value="Add Core Switch" onClick="addtext();">
					</div>
				</div>
			</div>
        </form>
        <hr width="100%" size="6" align="center">
        <h3>*Usually 4 levels is enough...</h3>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>