<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>CCoE Network Automation</title>
    </head>
    <body>
        <div class="alert alert-info" role="alert">
        <h1>Panorama Ops<br><br></h1>
        <h5>Enter Panorama Credentials:<br><br></h5>
        <form action="{{url_for('panorama_ops.panorama_auth')}}" method = "POST" role="form">
            <div class="row g-3 align-items-center">
				<div class="col-auto">
					<label for="panorama_username">Username:</label>
					<input type="text" class="form-control" id="panorama_username" name="panorama_username" placeholder="Panorama Username">
					<label for="panorama_password">Password:</label>
					<input type="password" class="form-control" id="panorama_password" name="panorama_password" placeholder="Panorama Password"><br>
				</div>
			</div>
            <button type="submit" class="btn btn-success">Log In</button>
          </form>
          <br><h4>*Do not refresh or press the "back" button, this might take some time to process.</h4>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        </div>
    </body>