<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <title>CCoE Network Automation</title>
    </head>
    <body>
        <div class="alert alert-info" role="alert">
        <h1>Lifecycle Information<br><br></h1>
        <form action="{{url_for('lifecycle.get_lifecycle_data')}}" method = "POST" role="form">
			<div class="col-3">
				<div class="p-5">
                    <p><button type="submit" class="btn btn-success">Get Report</button>
                    <a class="btn btn-primary" href="{{url_for('home')}}" role="button" style="margin-left:50px;">Back To Home</a>
                    </p>      
				</div>
			</div>
		</div>
        </form>
        <div class="alert alert-info" role="alert">
        <form action="{{url_for('lifecycle.get_lifecycle_diff')}}" method = "POST" role="form">
			<div class="col-3">
				<div class="p-5">
                    <p><button type="submit" class="btn btn-success">Get Differential</button>
                    </p>      
				</div>
			</div>
		</div>
        </form>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>